@media screen and (max-width: 1023px) {
  .features-container {
    overflow: hidden;
    position: relative;
  }
  .features {
    display: block;
    width: 10000px;
    position: relative;
    flex-direction: column;
  }
  .feature {
    width: 400px;
    position: relative;
    display: inline-block;
  }
}
