@media screen and (max-width: 1023px) {
    .footer-info {
        flex-direction: column;
      }
      .footer-info-item {
        width: 100%;
      }
      .post {
        justify-content: left;
      }
      .post-text {
        padding: 10px 0px;
      }
      .post-date {
        padding-top: 10px;
      }
}