.ending {
  padding-top: 75px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  margin-bottom: 150px;
}
.ending-header h4 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.ending-content {
  padding-bottom: 30px;
  color: var(--regular-gray);
  font-size: 14px;
  line-height: 26px;
}
.ending-btn a {
  color: var(--very-light-blue);
  text-decoration: none;
  border-bottom: 4px solid var(--very-light-blue);
}
