.mobile-nav {
  margin-top: 55px;
  display: none;
}

@media screen and (max-width: 1023px) {
  .mobile-nav {
    display: block;
    right: -80%;
    width: 80%;
    position: absolute;
    background-color: #2d3e50;
    color: white;
    height: 100%;
  }
  .mobile-nav_active {
    transition: all 1s ease-out;
    left: -80%;
    width: 100%;
  }
  .mobile-nav__title {
    background-color: #86d6df;
    padding: 21px;
  }

  .mob-nav-point {
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }
  .li-name{
    padding: 21px;
  }
  .mob-nav-point ul li {
    position: relative;
    cursor: auto;
    padding: 20px;
    background-color: var(--dark-blue);
  }
  .mob-nav-point ul{
    padding-left: 20px;
  }
  .closed{
    display: none;
  }
  .mob-nav-chevron {
    position: absolute;
    right: 20px;
    color: #2d3e50;
    border-radius: 50%;
    padding: 2px;
    z-index: 1000;
  }
  .mob-nav-chevron::after {
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: -1;
  }
}
