.services-wrapper {
  padding-top: 100px;
}
.services-wrapper h3 {
  text-align: center;
  color: var(--dark-gray);
  font-size: 25px;
}
.services-container {
  overflow: hidden;
  position: relative;
}
.services {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.3s ease-out;
  width: 10000px;
}
.service {
  position: relative;
  display: inline-block;
  padding: 0px 15px;
}

.service-switcher {
  background-color: rgba(255, 255, 255, 0.644);
  width: 15%;
  position: absolute;
  height: 300px;
  z-index: 100;
}
.right-switcher {
  right: 0;
}
.service-switcher-button {
  height: 75px;
  width: 75px;
  border: 0;
  background-color: var(--very-light-blue);
  margin-top: 110px;
  color: white;
  cursor: pointer;
}
.right-service-btn {
  right: 0;
  position: absolute;
}
.service-top {
  display: flex;
  flex-direction: row;
}
.service-top h4 {
  color: var(--dark-gray);
  margin-left: 20px;
  font-weight: bold;
  padding-top: 25px;
  font-size: 18px;
}
.service-text {
  color: var(--regular-gray);
  font-size: 14px;
  line-height: 26px;
}
