@media screen and (max-width: 1023px) {
  .video-section-text-container {
    width: 100%;
  }
  .video-section-video-container {
    order: -1;
  }

  .video-section-content {
    flex-direction: column;
  }

  .video-section-content div {
    margin-bottom: 20px;
  }
  .video-section-content div:last-child {
    margin-bottom: 0px;
  }
  .video-section-video-container {
    width: 100%;
  }
}
