@use '../../../styles/colors' as colors;
@use '../../../styles/mixins/spinner.mixin' as spinner-mixin;

.dropdown-btn {
  border: 1px solid gray;
}
.btn-group.dropdown-btn-group {
  width: 100%;
}
.invalid{
  border: 2px solid red;
}
.loader-wrapper {
  @include spinner-mixin.loader-wrapper
}

.loader,
.loader:after {
  @include spinner-mixin.loader-and-pseudo-after
}
.loader {
  @include spinner-mixin.loader
}
@-webkit-keyframes load8 {
  @include spinner-mixin.load8
}
@keyframes load8 {
  @include spinner-mixin.load8
}

