:host {
    .zero{
        height: 100%;
    }
    .choose-panel {
        background-color: #375b73;
        color: white;
    }
    .main-page{
        background-color: white;
        margin: 2rem;
        overflow-y: scroll;
    }
    
}
