<app-header [currentTab]="'remove'"></app-header>
<div class="add-card-page">
	<h2 class="page-name">Удалить карту постоянного клиента</h2>
	<form (ngSubmit)="onSubmit()" [formGroup]="removeDataForm">
		<div class="input-group">
			<div class="btn-group dropdown-btn-group" dropdown>
				<button
					id="button-animated"
					dropdownToggle
					type="button"
					class="btn dropdown-toggle dropdown-btn"
					aria-controls="dropdown-animated"
				>
					Выберите магазин <span class="caret"></span>
				</button>
				<ul
					id="dropdown-animated"
					*dropdownMenu
					class="dropdown-menu w-100"
					role="menu"
					aria-labelledby="button-animated"
				>
					<li role="menuitem" *ngFor="let store of stores, index as i">
						<span class="dropdown-item" (click)="selectStore(stores[i])">{{store.name}}</span>
					</li>
				</ul>
			</div>
			<div class="selected-store">
				<div *ngIf="selectedStore else notSelected">
					<img [src]="selectedStore.image" alt="store-image" class="store-image" />
					<span class="selected-store-name">{{selectedStore.name}}</span>
				</div>
				<ng-template #notSelected> Вы не выбрали магазин </ng-template>
			</div>
			<input
				required
				type="number"
				min="0"
				step="1"
				placeholder="Введите номер карты"
				class="data-input"
				formControlName="cardNumber"
				(input)="checkLength($event)"
			/>
			<span class="input-hint valid" *ngIf="cardNumber.valid">Это поле валидно</span>
			<span class="input-hint invalid" *ngIf="cardNumber.invalid">
				Это поле невалидно (разрешены только 8-20 цифр)
			</span>
			<input
				required
				type="text"
				placeholder="Введите Причину удаления"
				class="data-input"
				formControlName="reason"
			/>
			<span class="input-hint valid" *ngIf="reason.valid">Это поле валидно</span>
			<span class="input-hint invalid" *ngIf="reason.invalid">
				Это поле невалидно (разрешена только кириллица и пробел)
			</span>
		</div>
		<div class="btn-container">
			<button
				type="submit"
				class="add-button btn btn-danger"
				[disabled]="removeDataForm.invalid || selectedStore === null"
			>
				ДОБАВИТЬ
			</button>
		</div>
	</form>
</div>
