body{
    display: grid;
    place-items: center;
    height: 100%;
}
button{
    background: none;
    border: none;
    animation: sk;
    animation-iteration-count: infinite;
    margin-top: 50px;
}
button  div{
    width: 200px;
    height: 50px;
}
button .l1{
    background-color: green;
    transition: 1s;
    position: absolute;
    transform-origin: bottom;
}
button .l2{
    background-color: red;
    transition: 1s;
    transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: bottom;
}
button:hover .l1{
    transition: 1s;
    transform: rotate3d(1, 0, 0, 90deg);
    margin-top: -50px;
}
button:hover .l2{
    transition: 1s;
    transform: rotate3d(1, 0, 0, 0deg);

}

@keyframes sk {
    0% {
        border: 1px solid red;
    }

    100% {
        border: 1px solid rgb(0, 0, 0);
    }
}