body {
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-width: 1024px;
    margin: 0 auto;
}

.container .row {
    box-sizing: border-box;
    padding: 0 15%;
}

.header .container .row {
    box-sizing: border-box;
    padding: 0%;
}

.header {
    background-color: #34495e;
}

.top {
    background-color: #34495e;
    height: 10px;
}

.header-top {
    background-color: #2c3e50;
}

.icon {
    margin-right: 8px;
}

.header-search {
    background-color: #34495e;
    margin-left: 80%;
    border-radius: 15px;
    margin-top: -22px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.header-search-input {
    background: transparent;
    border: transparent;
    width: 80%;
    padding-left: 10px;
    color: #758594;
}

.icon-search {
    position: relative;
    right: 10px;
    color: #607080;
}

.header-main {
    width: 70%;
    padding-left: 15%;
}

.header-info {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-info-items {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.header-info-item {
    color: #607080;
    font-size: 13px;
    padding-right: 30px;
}

.header-logo {
    margin-top: 19px
}

.header-menu {
    text-align: end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-menu-item {
    display: inline;
    font-size: 14px;
}

.header-menu-link {
    color: #f4f5f6;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.header-menu-item a:link {
    text-decoration: none;
}

.header-logo {
    position: absolute;
}

.line {
    background-image: url(../img/2.png);
    background-repeat: repeat-x;
    height: 3px;
    margin-left: -100px;
}

.main-top {
    height: 550px;
    background-color: #334759;
}

.main-top-text {
    font-family: 'Varela Round', sans-serif;
    padding-top: 90px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.subheader {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: #85d6de;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subheader-switcher {
    position: relative;
    width: 15%;
    background-color: #7dc8d1;
}

.subheader-button-left {
    margin-right: 20px;
    text-align: end;
}

.subheader-button-right {
    margin-left: 20px;
}

.subheader-text {
    position: relative;
    padding: 10px 0%;
    width: 70%;
    text-align: center;
    background-color: #85d6de;
    color: white;
}

.subheader-text p {
    margin-top: 30px;
    font-size: 18px;
}

.subheader-icon {
    color: #ffffff;
    padding-top: 7%;
}

/***************************/

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.feature {
    position: relative;
    margin-right: 20px;
}

.feature:last-child {
    margin-right: 0;
}

.feature-inner {
    margin-top: 130px;
}

.feature img {
    display: block;
    height: 120px;
    margin: 0 auto;
}

.feature-inner-content {
    padding-top: 50px;
}

.feature-inner-content h3 {
    font-size: 18px;
}

.feature-inner-content p {
    color: #737c85;
    font-size: 14px;
}

/***************************/

.counters-container {
    background-color: #85d6de;
}

.counter-heading {
    text-align: center;
    color: #34495e;
    font-size: 25px;
    padding-top: 20px;
}

.counters-field {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counter {
    position: relative;
    /*сделать, чтобы сами элементы не изменялись*/
    border: 7px solid white;
    border-radius: 100px;
    width: 186px;
    height: 186px;
    text-align: center;
    color: #34495e;
    font-size: 17px;
}

.counter-text {
    margin-top: 60px;
}

.counter-number {
    font-size: 40px;
    margin-top: -10px;
    color: white;
}

.separator {
    color: white;
    font-size: 50px;
    padding-top: 50px;
}
/***********************************/
.services h3 {
    text-align: center;
    color: #34495e;
    font-size: 25px;
    padding-top: 100px;
}

.hr-1 {
    width: 70%;
    color: #dfe6e7;
    z-index: 1;
    position: absolute;
}

.hr-2 {
    width: 4%;
    color: #85d6de;
    z-index: 10;
    position: relative;
    border-radius: 0%;
}
.video-section-heading{
    text-align: center;
    padding-top: 100px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
}
.video-section-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 75px;
}
.video-section-video-container{
    width: 50%;
    border: 1px solid #dfe6e7;
    text-align: center;
}
.video-section-video-container video{
    height: 100%;
    width: auto;
}
.video-section-text-container{
    position: relative;
    border: 1px solid #dfe6e7;
    width: 20%;
}
.video-section-text-container ul li{
    margin-left: -10px;
    list-style-type: none;
    color: #34495e;
    padding-top: 10%;
}
.video-section-text-container ul li:first-child{
    padding-top: 0%;
}
.video-section-text-container ul li i{
    padding-right: 5px;
}
.ending{
    padding-top: 75px;
    padding-left: 25%;
    width: 50%;
    text-align: center;
    margin-bottom: 150px;
}
.ending-header h4{
    margin-top: 0%;
}
.ending-content{
    padding-bottom: 30px;
    color: #737c85;
}
.ending-btn a{
    color: #85d6de;
    text-decoration: none;
    border-bottom: 4px solid #85d6de;
}
footer .container{
    background: #34495e;
}
.comments{
    padding-top: 75px;
    padding-bottom: 50px;
}
.footer-hr{
    color:#2c3e50;
}
.footer-info{
    padding-top: 75px;
    padding-bottom: 75px;
    color: #758594;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-info-item{
    position: relative;
    width: 30%;
}
.post{

}
.post-picture{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color:  #737c85;
    background-image: url('../img/2\ —\ копия.jpg');
}
.post-text{

}
.post-date{
    color:white;
}
.contact-info ul li{
    list-style-type: none;
    padding-bottom: 20px;
}
.contact-info ul li p{
    display: inline;
}
.contact-info ul li i{
    color: white;
}
.contact-info ul{
    padding-left:0;
}
.copyright{
    text-align: center;
    color: #758594;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}
