.icon {
  margin-right: 8px;
}
.icon-search {
  position: relative;
  cursor: pointer;
  color: var(--very-dark-gray);
}
.subheader-icon_left {
  right: 20px;
}
.subheader-icon_right {
  left: 20px;
}
