@import '~src/styles/colors';
.profile {
	margin-top: 30px;
	text-align: center;
}
.profile-image {
	border-radius: 50%;
}
.name {
	font-weight: bold;
	margin-top: 50px;
	font-size: 1.3rem;
}
.role {
	margin-top: 10px;
	color: $light-gray;
}
