<app-header [currentTab]="'remove'"></app-header>
<div class="add-card-page">
	<tabset>
		<tab heading="Удалить карту">
			<h2 class="page-name">Удалить карту постоянного клиента</h2>
			<app-form
				[formInputs]="['store', 'cardNumber', 'reason']"
				[actionName]="'Удалить'"
				[action]="'Удалить карту'"
			></app-form>
		</tab>
		<tab heading="Удалить клиента">
			<h2 class="page-name">Удалить постоянного клиента</h2>
			<app-form
				[formInputs]="['passportNumber', 'reason']"
				[actionName]="'Удалить'"
				[action]="'Удалить клиента'"
			></app-form>
		</tab>
	</tabset>
</div>
