<app-header [currentTab]="'find'"></app-header>
<div class="add-card-page">
	<tabset>
		<tab heading="Найти карту">
			<h2 class="page-name">Найти карту постоянного клиента</h2>
			<app-form [formInputs]="['store', 'cardNumber']" [actionName]="'Найти'" [action]="'Найти карту'"></app-form>
		</tab>
		<tab heading="Найти клиента">
			<h2 class="page-name">Найти постоянного клиента</h2>
			<app-form [formInputs]="['passportNumber']" [actionName]="'Найти'" [action]="'Найти клиента'"></app-form>
		</tab>
	</tabset>
</div>
