:host{
    .element-options{
        background-color: #fff;
        height: auto;
        padding: .5rem;
        margin: 2rem;
    }
    .deselect{
        overflow: hidden;
    }
    .deselect-button{
        float: right;
        margin-bottom: 10px;
    }
}