<div class="get-card-modal" >
	<h3>Выбрать магазин и получить карту</h3>
	<div class="btn-group dropdown-btn-group" dropdown>
		<button
			id="button-animated"
			dropdownToggle
			type="button"
			class="btn dropdown-toggle dropdown-btn"
			aria-controls="dropdown-animated"
		>
			Выберите магазин <span class="caret"></span>
		</button>
		<ul
			id="dropdown-animated"
			*dropdownMenu
			class="dropdown-menu w-100"
			role="menu"
			aria-labelledby="button-animated"
		>
			<li role="menuitem" *ngFor="let store of stores, index as i">
				<span class="dropdown-item" (click)="selectStore(stores[i])">{{store.name}}</span>
			</li>
		</ul>
	</div>
	<div class="selected-store">
		<div *ngIf="selectedStore else notSelected">
			<img [src]="selectedStore.image" alt="store-image" class="store-image" />
			<span>{{selectedStore.name}}</span>
		</div>
		<ng-template #notSelected> Вы не выбрали магазин </ng-template>
	</div>
	<button type="button" class="button btn btn-danger" [disabled]="!selectedStore" (click)="getCard()">
		ПОЛУЧИТЬ
	</button>
</div>
