.get-card-modal {
  text-align: center;
	padding: 25px;
}
.dropdown-btn{
  border: 1px solid gray;
}
.btn-group.dropdown-btn-group{
  width: 100%;
  margin-top: 10px;
}
.button{
  margin-top: 20px
}
.store-image{
  height: 50px;
}
.selected-store{
  margin-top: 15px;
}
