<div class="found-card-modal">
	<div class="info">
		<div class="labels">
			<div [class.label-for-input]="dataState === 'changing'">Номер:</div>
			<div [class.label-for-input]="dataState === 'changing'">ID:</div>
			<div [class.label-for-input]="dataState === 'changing'">Магазин:</div>
			<div [class.label-for-input]="dataState === 'changing'">ФИО Владельца:</div>
			<div [class.label-for-input]="dataState === 'changing'">Идентификатор Владельца:</div>
		</div>
		<div class="values" *ngIf="dataState === 'static' else inputs">
			<div>{{number.value}}</div>
			<div>{{data.id}}</div>
			<div>{{selectedStore.name}}</div>
			<div>{{data.owner.name}} {{data.owner.surname}} {{data.owner.patronymic}}</div>
			<div>{{ownerId.value}}</div>
		</div>
		<ng-template #inputs>
			<form [formGroup]="changeCardForm" class="change-card-form">
				<input type="text" formControlName="number" />
				<input type="text" disabled [value]="data.id" />
				<app-store-select (store)="selectStore($event)" [selectedStore]="selectedStore"></app-store-select>
				<input
					type="text"
					disabled
					[value]="data.owner.name + ' ' + data.owner.surname + ' ' + data.owner.patronymic"
				/>
				<input type="text" formControlName="ownerId" />
			</form>
		</ng-template>
	</div>
	<div class="btns-container">
		<button
			*ngIf="dataState === 'static' else approveBtn"
			class="edit-button btn"
			(click)="changeDataState('changing')"
		>
			Изменить
		</button>
		<ng-template #approveBtn>
			<button type="submit" class="btn btn-success" (click)="changeCard()">Подтвердить изменения</button>
		</ng-template>
		<button class="delete-button btn btn-danger" (click)="deleteCard()">Удалить</button>
	</div>
</div>
