.add-card-page {
	text-align: center;
}
table{
  margin: auto;
  border-collapse: collapse;
}
td, th{
  border: 1px solid black;
  padding: 5px;
}
tr:hover{
  background-color: rgba(0,0,0, 0.1);
}
tr.input-row:hover{
  background-color: white;

}
.page-name {
  margin: 30px;
}
::ng-deep {
  .nav.nav-tabs {
    margin-top: 20px;
    justify-content: center;
  }
}
