.add-card-page {
	text-align: center;
}
.page-name {
  margin: 30px;
}
::ng-deep {
  .nav.nav-tabs {
    margin-top: 20px;
    justify-content: center;
    .nav-link{
      color: rgba(0,0,0,.6);
    }
    .nav-link.active{
      color: $light-blue
    }
  }
}
