:host {
    .buttons-container {
        position: absolute;
        top: 0;
        right: 0;
    }
    .container {
        box-sizing: border-box;
        position: relative;
        border: 1px dashed #ccc;
        .active {
            border-color:black;
        }
    }
}
