<ng-container [ngSwitch]="element.type" >
    <app-section-block-renderer *ngSwitchCase="BlockType.Section" (selectElement)="onSelectElement($event.block, $event.id)" [block]='element'>
    </app-section-block-renderer>
    <app-text-block-renderer *ngSwitchCase="BlockType.Text" (selectElement)="onSelectElement($event)"  [block]='element'>
    </app-text-block-renderer>
    <app-heading-block-renderer *ngSwitchCase="BlockType.Heading" (selectElement)="onSelectElement($event)" [block]='element'>
    </app-heading-block-renderer>
    <!-- <header *ngSwitchCase="'header'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </header>
    <main *ngSwitchCase="'main'"(click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </main>
    <footer *ngSwitchCase="'footer'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </footer>
    <nav *ngSwitchCase="'nav'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </nav>
    <section *ngSwitchCase="'section'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </section>
    <ul *ngSwitchCase="'ul'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </ul>
    <li *ngSwitchCase="'li'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </li>
    <p *ngSwitchCase="'p'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </p>
    <h1 *ngSwitchCase="'h1'" (click)="onElementClick($event)">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h1> -->
</ng-container>
<!-- <ng-template #content>
    <ng-container *ngFor="let child of element.children">
        <ng-container *ngIf="isText(child)">
            {{ child }}
        </ng-container>
        <app-element-renderer *ngIf="!isText(child)" [element]="child" (selectElement)="selectElement.emit($event)"></app-element-renderer>
    </ng-container>
</ng-template> -->