<app-header></app-header>
<h1>Информация о получателе</h1>
<div class="found-client-page" *ngIf="data else loading">
  <div *ngIf="!data.active" class="inactive">Неактивен</div>
  <form [formGroup]="changeClientForm" (ngSubmit)="change()" class="change-card-form">
    <div class="info">
      <div [class.label-for-input]="modalState.dataState === 'changing'">ID:</div>
      <div *ngIf="modalState.dataState === 'static' else id">{{data.id}}</div>
      <div [class.label-for-input]="modalState.dataState === 'changing'">Номер паспорта:</div>
      <div *ngIf="modalState.dataState === 'static' else passportNumber">
        {{changeClientForm.controls.passportNumber.value}}
      </div>
      <div [class.label-for-input]="modalState.dataState === 'changing'">Имя:</div>
      <div *ngIf="modalState.dataState === 'static' else name">{{changeClientForm.controls.name.value}}</div>
      <div [class.label-for-input]="modalState.dataState === 'changing'">Фамилия:</div>
      <div *ngIf="modalState.dataState === 'static' else surname">
        {{changeClientForm.controls.surname.value}}
      </div>
      <div [class.label-for-input]="modalState.dataState === 'changing'">Отчество:</div>
      <div *ngIf="modalState.dataState === 'static' else patronymic">
        {{changeClientForm.controls.patronymic.value}}
      </div>
      <div [class.label-for-input]="modalState.dataState === 'changing'">Кол-во использований:</div>
      <div *ngIf="modalState.dataState === 'static' else useCount">{{data.useCount}}</div>

      <ng-template #id>
        <input type="text" disabled [value]="data.id" />
      </ng-template>
      <ng-template #passportNumber>
        <input
          type="text"
          formControlName="passportNumber"
          popover="Номер паспорта содержит 10 цифр "
          triggers="focus:focusout"
          placement="left"
          [class.invalid]="modalState.isRequestBad && changeClientForm.controls.passportNumber.invalid"
        />
      </ng-template>
      <ng-template #name>
        <input
          type="text"
          formControlName="name"
          popover="Имя может состоять только из кириллицы"
          triggers="focus:focusout"
          placement="left"
          [class.invalid]="modalState.isRequestBad && changeClientForm.controls.name.invalid"
        />
      </ng-template>
      <ng-template #surname>
        <input
          type="text"
          formControlName="surname"
          popover="Фамилия может состоять только из кириллицы"
          triggers="focus:focusout"
          placement="left"
          [class.invalid]="modalState.isRequestBad && changeClientForm.controls.surname.invalid"
        />
      </ng-template>
      <ng-template #patronymic>
        <input
          type="text"
          formControlName="patronymic"
          popover="Отчество может состоять только из кириллицы"
          triggers="focus:focusout"
          placement="left"
          [class.invalid]="modalState.isRequestBad && changeClientForm.controls.patronymic.invalid"
        />
      </ng-template>
      <ng-template #useCount>
        <input type="text" disabled [value]="data.useCount" />
      </ng-template>
    </div>
    <div class="btns-container">
      <button class="btn btn-primary">Просмотреть карты этого получателя</button>
      <button
        *ngIf="modalState.dataState === 'static' else approveBtn"
        class="edit-button btn"
        (click)="changeDataState('changing')"
      >
        Изменить
      </button>
      <ng-template #approveBtn>
        <button type="submit" class="btn btn-success">Подтвердить изменения</button>
      </ng-template>
      <button class="delete-button btn btn-danger" (click)="delete()" *ngIf="data.active else restoreBtn">
        Удалить
      </button>
      <ng-template #restoreBtn>
        <button class="restore-btn btn btn-success" (click)="restore()">Восстановить</button>
      </ng-template>
    </div>
  </form>
  <app-data-table [data]="cards$ | async" [dataKeys]="cardKeys" [dataType]="'card'"></app-data-table>
</div>

<ng-template #loading>

</ng-template>
