<div class="found-card-modal">
	<div class="info">
		<div [class.label-for-input]="modalState.dataState === 'changing'">Номер:</div>
		<div *ngIf="modalState.dataState === 'static' else numberInput">{{number.value}}</div>
		<div [class.label-for-input]="modalState.dataState === 'changing'">ID:</div>
		<div *ngIf="modalState.dataState === 'static' else identificator">{{data.id}}</div>
		<div [class.label-for-input]="modalState.dataState === 'changing'">Магазин:</div>
		<div *ngIf="modalState.dataState === 'static' else storeSelect">{{selectedStore.name}}</div>
		<div [class.label-for-input]="modalState.dataState === 'changing'">Идентификатор Владельца:</div>
		<div *ngIf="modalState.dataState === 'static' else ownerIdentificator">{{ownerId.value}}</div>
		<div [class.label-for-input]="modalState.dataState === 'changing'">ФИО Владельца:</div>
		<div *ngIf="modalState.dataState === 'static' else name">
			{{data.owner.name}} {{data.owner.surname}} {{data.owner.patronymic}}
		</div>
		<form [formGroup]="changeCardForm" class="change-card-form">
			<ng-template #numberInput>
				<input type="text" formControlName="number" />
			</ng-template>
			<ng-template #identificator>
				<input type="text" disabled [value]="data.id" />
			</ng-template>
			<ng-template #storeSelect>
				<app-store-select (store)="selectStore($event)" [selectedStore]="selectedStore"></app-store-select>
			</ng-template>
			<ng-template #name>
				<input
					type="text"
					disabled
					[value]="data.owner.name + ' ' + data.owner.surname + ' ' + data.owner.patronymic"
				/>
			</ng-template>
			<ng-template #ownerIdentificator>
				<input type="text" formControlName="ownerId" />
			</ng-template>
		</form>
	</div>
  <div *ngIf="!data.active">Неактивно</div>
	<div class="btns-container">
		<button
			*ngIf="modalState.dataState === 'static' else approveBtn"
			class="edit-button btn"
			(click)="changeDataState('changing')"
		>
			Изменить
		</button>
		<ng-template #approveBtn>
			<button type="submit" class="btn btn-success" (click)="change()">Подтвердить изменения</button>
		</ng-template>
    <button class="delete-button btn btn-danger" (click)="delete()" *ngIf="data.active else restoreBtn">
      Удалить
    </button>
    <ng-template #restoreBtn>
      <button class="restore-btn btn btn-success" (click)="restore()">Восстановить</button>
    </ng-template>
		<button class="btn close-btn btn-secondary" (click)="closeModal()">Закрыть</button>
	</div>
</div>
