@use './../../../styles/colors' as colors;
@use './../../../styles/mixins/modal-btns.mixin' as mixins;
.found-card-modal {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.labels {
	padding-right: 15px;
}
.label-for-input {
	padding: 8px 0;
}
.change-card-form {
	input {
		margin: 5px 0;
	}
}
.store-select-wrapper {
	display: flex;
	align-items: center;
}
.selected-store {
	margin-right: 10px;
}
.btns-container {
	margin-top: 10px;
	height: 40px;
	align-self: flex-end;
}
.edit-button {
	@include mixins.edit-button;
}
.delete-button {
	@include mixins.delete-button;
}
.close-btn {
	@include mixins.close-btn;
}
.restore-btn {
	margin-left: 10px;
}
