<mat-accordion>                                 <!--при нажатии на элемент - в консоль выводится его объект-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          UI Library
        </mat-panel-title>
        <mat-panel-description>
          smth
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
          <li (click)='selectElement("Text")'>Type Text</li>
          <li (click)='selectElement("Heading")'>Type Heading</li>
          <li (click)='selectElement("Img")'>Img</li>
          <li (click)='selectElement("List")'>List</li>
          <li (click)='selectElement("Grid")'>Grid (table)</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          grid
        </mat-panel-title>
        <mat-panel-description>
          smth
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Templates
        </mat-panel-title>
        <mat-panel-description>
          smth
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>