<div class="logo">Tilda2Pro</div>
<mat-accordion>
  <mat-expansion-panel class='expansion-panel'>
    <mat-expansion-panel-header>
      <mat-panel-title class="expansion-panel-title">
        UI Library
      </mat-panel-title>

    </mat-expansion-panel-header>
    <ul>

      <li draggable="true" (dragstart)="onBlockDrag(BlockType.Text)" (dragend)="onDragEnd()">Type Text</li>
      <li draggable="true" (dragstart)="onBlockDrag(BlockType.Heading)" (dragend)="onDragEnd()">Type Heading</li>
      <li draggable="true" (dragstart)="onBlockDrag(BlockType.Image)" (dragend)="onDragEnd()">Img</li>
      <li draggable="true" (dragstart)="onBlockDrag(BlockType.Grid)" (dragend)="onDragEnd()">Grid (table)</li>
      <li draggable="true" (dragstart)="onBlockDrag(BlockType.Section)" (dragend)="onDragEnd()">Section</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class='expansion-panel'>
    <mat-expansion-panel-header>
      <mat-panel-title class="expansion-panel-title">
        Templates
      </mat-panel-title>

    </mat-expansion-panel-header>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>