.add-card-page {
  text-align: center;
}
.page-name {
  margin-top: 50px;
}
.input-group {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  & > {
    :not(:first-child, .data-input) {
      margin-bottom: 15px;
    }
    :nth-child(2) {
      margin-bottom: 20px;
    }
  }
}
.dropdown-btn{
  border: 1px solid gray;
}
.selected-store-name{
  font-size: 1.2rem;
  margin-left: 15px;
}
.selected-store{
  margin-top: 15px;
}
.data-input {
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  &::placeholder{
    font-size: 18px;
  }
}
.add-button {
  margin-top: 30px;
  height: 50px;
  width: 200px;

}
.store-image {
  height: 100px;
}
.input-hint{
  text-align: start;
  font-size: 0.7rem;
}
.valid{
  color: green;
}
.invalid{
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
