<div class="get-card-modal">
	<h3>Выбрать магазин и получить карту</h3>
  <app-store-select (store)="selectStore($event)"></app-store-select>
	<div class="selected-store">
		<div *ngIf="selectedStore else notSelected">
			<img [src]="selectedStore.image" alt="store-image" class="store-image" />
			<span>{{selectedStore.name | titlecase}}</span>
		</div>
		<ng-template #notSelected> Вы не выбрали магазин </ng-template>
	</div>
	<button type="button" class="button btn btn-danger" [disabled]="!selectedStore" (click)="getCard()">
		ПОЛУЧИТЬ
	</button>
</div>
