@import '../../../styles/colors';
.header {
	background: $very-light-gray;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.links-container {
	display: flex;
}
.header-link {
	padding: 15px 25px;
	opacity: 80%;
}
.header-link:hover {
	text-decoration: none;
}
.header-link:active {
	color: inherit;
}
.header-link:visited {
	color: inherit;
}
.header-link.focus {
	opacity: 100%;
	color: $light-blue;
	font-weight: 600;
	border-bottom: 2px solid $light-blue;
}
