@use 'apps/charity/src/styles/colors' as colors;
@use '../../../styles/mixins/spinner.mixin' as spinner-mixin;

.data-table-page {
	margin: 20px;
	display: flex;
	justify-content: center;
}
.table-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
table {
	text-align: left;
	border-collapse: collapse;
	min-width: 70vw;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	td,
	th {
		padding: 8px;
	}
	thead tr {
		background-color: colors.$light-blue;
		color: #ffffff;
	}
	tbody {
		tr {
			cursor: pointer;

			&:last-of-type {
				border-bottom: 2px solid colors.$very-light-blue;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.03);
			}
			&.inactive {
				background-color: #cccccc;
				cursor: not-allowed;
				&:hover {
					background-color: #cccccc;
				}
			}
			&:nth-of-type(even) {
				background-color: #eff7ff;
				&.inactive {
					background-color: #cccccc;
					cursor: not-allowed;
					&:hover {
						background-color: #cccccc;
					}
				}
			}
		}
	}
}
.search-button {
	margin-bottom: 10px;
	height: 40px;
	width: 130px;
	background-color: colors.$light-blue;
	color: white;
	padding: 0;
}
.inactive-hint {
	padding: 5px;
	background: darkgray;
	border-radius: 3px;
}
.loader-wrapper{
  @include spinner-mixin.loader-wrapper
}
.loader,
.loader:after {
  @include spinner-mixin.loader-and-pseudo-after
}
.loader {
  @include spinner-mixin.loader
}
@-webkit-keyframes load8 {
  @include spinner-mixin.load8
}
@keyframes load8 {
  @include spinner-mixin.load8
}
