<div class="data-table-page">
	<div class="table-wrapper">
    <div class="btns-container">
      <button class="btn clear-filters-btn" *ngIf="searchFiltersApplied" (click)="clearFilters()">Очистить фильтры</button>
      <button class="search-button btn" (click)="openSearchModal()">Поиск</button>
    </div>
		<table>
			<thead>
				<tr>
					<th *ngFor="let dataKey of dataKeys">{{dataKey}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="data.length === 0 && isStateInitial === false" class="not-found">
					<td [colSpan]="dataKeys.length">Не найдено</td>
				</tr>
				<tr *ngIf="data.length === 0 && isStateInitial === true" class="loading">
					<td [colSpan]="dataKeys.length">
						<div class="loader-wrapper">
							<div class="loader">Loading...</div>
						</div>
					</td>
				</tr>
				<ng-container [ngSwitch]="dataType">
					<ng-container *ngSwitchCase="'card'">
						<tr
							*ngFor="let dataRow of data"
							(click)="openModal(dataRow)"
							[class.inactive]="!dataRow.active"
						>
                <td>
                  {{dataRow.number}} <span *ngIf="!dataRow.active" class="inactive-hint">Неактивно</span>
                </td>
                <td>{{dataRow.owner.name}} {{dataRow.owner.surname}} {{dataRow.owner.patronymic}}</td>
                <td>{{dataRow.shop.name}}</td>
						</tr>
					</ng-container>
					<ng-container *ngSwitchCase="'client'">
						<tr
							*ngFor="let dataRow of data"
							(click)="openModal(dataRow)"
							[class.inactive]="!dataRow.active"
              routerLink='[/client, dataRow.id]'
            >
							<td>
								{{dataRow.passportNumber}}
								<span *ngIf="!dataRow.active" class="inactive-hint">Неактивен</span>
							</td>
							<td>{{dataRow.name}} {{dataRow.surname}} {{dataRow.patronymic}}</td>
						</tr>
					</ng-container>
					<ng-container *ngSwitchCase="'history'">
						<tr *ngFor="let dataRow of data" class="history-row">
							<td>{{dataRow.id}}</td>
							<td>{{dataRow.date | date:'fullDate'}}</td>
							<td>{{dataRow.card}}</td>
							<td>{{dataRow.customer}}</td>
						</tr>
					</ng-container>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>
