:host{
    .grid{
        grid-template-columns: repeat(6, 1fr);
        display: grid;
        border-collapse: collapse;
        div{
            border: 2px solid gray;
            border-radius: 3px;
        }
    }
}