<form (ngSubmit)="onSubmit()" [formGroup]="dataForm">
	<div class="input-group">
		<app-store-select *ngIf="formInputs.includes('store')" (store)="selectStore($event)"></app-store-select>
		<div class="selected-store" *ngIf="formInputs?.includes('store')">
			<div *ngIf="selectedStore else notSelected">
				<img [src]="selectedStore.image" alt="store-image" class="store-image" />
				<span class="selected-store-name">{{selectedStore.name | titlecase}}</span>
			</div>
			<ng-template #notSelected> Вы не выбрали магазин </ng-template>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('cardNumber')">
			<input
				required
				type="number"
				min="0"
				step="1"
				placeholder="Введите номер карты"
				class="data-input"
				formControlName="cardNumber"
				popover="Номер карты содержит 8-20 цифр "
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && cardNumber.invalid"
			/>
			<!--  + (cardNumber.valid? '✔️': '❌') -->
		</div>

		<div
			class="input-wrapper"
			*ngIf="formInputs?.includes('passportNumber')"
			title="Номер паспорта содержит 10 цифр"
		>
			<input
				required
				type="number"
				min="0"
				step="1"
				placeholder="Введите номер паспорта"
				class="data-input"
				formControlName="passportNumber"
				popover="Номер паспорта содержит 10 цифр "
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && passportNumber.invalid"
			/>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('name')">
			<input
				required
				type="text"
				placeholder="Введите Фамилию"
				class="data-input"
				formControlName="surname"
				popover="Фамилия может состоять только из кириллицы"
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && surname.invalid"
			/>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('name')">
			<input
				required
				type="text"
				placeholder="Введите Имя"
				class="data-input"
				formControlName="name"
				popover="Имя может состоять только из кириллицы"
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && name.invalid"
			/>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('name')">
			<input
				required
				type="text"
				placeholder="Введите Отчество"
				class="data-input"
				formControlName="patronymic"
				popover="Отчество может состоять только из кириллицы"
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && patronymic.invalid"
			/>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('reason')">
			<input
				required
				type="text"
				placeholder="Введите Причину удаления"
				class="data-input"
				formControlName="reason"
				popover="Причина может содержать кириллицу, цифры и пробелы"
				triggers="focus:focusout"
				placement="left"
				[class.invalid]="userTriedToSendInvalid && reason.invalid"
			/>
		</div>
	</div>
	<div class="btn-container">
		<button type="submit" class="add-button btn">{{actionName}}</button>
	</div>
</form>
