<form (ngSubmit)="onSubmit()" [formGroup]="findCardDataForm">
	<div class="input-group">
		<app-store-select *ngIf="formInputs.includes('store')" (store)="selectStore($event)"></app-store-select>
		<div class="selected-store" *ngIf="formInputs?.includes('store')">
			<div *ngIf="selectedStore else notSelected">
				<img [src]="selectedStore.image" alt="store-image" class="store-image" />
				<span class="selected-store-name">{{selectedStore.name | titlecase}}</span>
			</div>
			<ng-template #notSelected> Вы не выбрали магазин </ng-template>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('cardNumber')">
			<input
				required
				type="number"
				min="0"
				step="1"
				placeholder="Введите номер карты"
				class="data-input"
				formControlName="cardNumber"
			/>
			<span class="input-hint valid" *ngIf="cardNumber.valid">Это поле корректно</span>
			<span class="input-hint invalid" *ngIf="cardNumber.invalid">
				Это поле некорректно (разрешены только 8-20 цифр)
			</span>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('passportNumber')">
			<input
				required
				type="number"
				min="0"
				step="1"
				placeholder="Введите номер паспорта"
				class="data-input"
				formControlName="passportNumber"
			/>
			<span class="input-hint valid" *ngIf="passportNumber.valid">Это поле корректно</span>
			<span class="input-hint invalid" *ngIf="passportNumber.invalid">
				Это поле некорректно (разрешены только 10 цифр)
			</span>
		</div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('name')">
			<input required type="text" placeholder="Введите Фамилию" class="data-input" formControlName="surname" />
			<span class="input-hint valid" *ngIf="surname.valid">Это поле корректно</span>
			<span class="input-hint invalid" *ngIf="surname.invalid">
				Это поле некорректно (разрешена только кириллица)
			</span>
		</div>

    <div class="input-wrapper" *ngIf="formInputs?.includes('name')">
      <input required type="text" placeholder="Введите Имя" class="data-input" formControlName="name" />
      <span class="input-hint valid" *ngIf="name.valid">Это поле корректно</span>
      <span class="input-hint invalid" *ngIf="name.invalid">
				Это поле некорректно (разрешена только кириллица)
			</span>
    </div>

    <div class="input-wrapper" *ngIf="formInputs?.includes('name')">
      <input required type="text" placeholder="Введите Отчество" class="data-input" formControlName="patronymic" />
      <span class="input-hint valid" *ngIf="patronymic.valid">Это поле корректно</span>
      <span class="input-hint invalid" *ngIf="patronymic.invalid">
				Это поле некорректно (разрешена только кириллица)
			</span>
    </div>

		<div class="input-wrapper" *ngIf="formInputs?.includes('reason')">
			<input
				required
				type="text"
				placeholder="Введите Причину удаления"
				class="data-input"
				formControlName="reason"
			/>
			<span class="input-hint valid" *ngIf="reason.valid">Это поле корректно</span>
			<span class="input-hint invalid" *ngIf="reason.invalid">
				Это поле некорректно (разрешена только кириллица и пробел)
			</span>
		</div>
	</div>
	<div class="btn-container">
		<button
			type="submit"
			class="add-button btn btn-danger"
			[disabled]="findCardDataForm.invalid || ( formInputs.includes('store') && !selectedStore)"
		>
			{{actionName}}
		</button>
	</div>
</form>
