<quill-editor (onContentChanged)='onContentChanged($event)' [ngModel]='sourceText'>
    <div quill-editor-toolbar>
        <span class="ql-formats">
            <select class="ql-font">
                <option selected></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size" *ngIf="!isHeading">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold" *ngIf="!isHeading"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats" *ngIf="!isHeading">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-align">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <!-- <button class="ql-image"></button> -->
        </span>
        <span class="ql-formats">
            <button mat-icon-button (click)='onSave($event)'>
                <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)='onCancel($event)'>
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
</quill-editor>