<div class="search-modal">
	<h4>Поиск</h4>
	<div class="info">*Вы можете искать по одному параметру или по нескольким сразу</div>
	<form class="search-form" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
		<input
			type="text"
			class="search-input"
			formControlName="name"
			*ngIf="dataType === 'client'"
			placeholder="Имя"
		/>
		<input
			type="text"
			formControlName="surname"
			class="search-input"
			*ngIf="dataType === 'client'"
			placeholder="Фамилия"
		/>
		<input
			type="text"
			formControlName="patronymic"
			class="search-input"
			*ngIf="dataType === 'client'"
			placeholder="Отчество"
		/>

		<input
			*ngIf="dataType === 'card'"
			class="search-input"
			type="text"
			formControlName="number"
			placeholder="Номер карты"
		/>

		<input
			*ngIf="dataType === 'card'"
			class="search-input"
			type="text"
			formControlName="owner"
			placeholder="Идентификатор владельца"
		/>

		<input
			*ngIf="dataType === 'client'"
			class="search-input"
			type="text"
			formControlName="passport"
			placeholder="Номер паспорта"
		/>

		<app-store-select *ngIf="dataType === 'card'" (store)="selectStore($event)"></app-store-select>

		<input
			*ngIf="dataType === 'history'"
			class="search-input"
			type="text"
			formControlName="cardId"
			placeholder="Идентификатор карты"
		/>

		<input
			*ngIf="dataType === 'history'"
			class="search-input"
			type="text"
			formControlName="customerId"
			placeholder="Идентификатор владельца"
		/>

		<input
			type="text"
			placeholder="Выбрать даты"
			class="form-control search-input"
			bsDaterangepicker
      [bsConfig]="bsConfig"
      formControlName="dates"
      *ngIf="dataType === 'history'"
		/>

		<div class="btn-wrapper">
			<button type="submit" class="find-btn btn">Найти</button>
			<button class="btn close-btn btn-secondary" (click)="closeModal()">Закрыть</button>
		</div>
	</form>
</div>
