<div class="data-table-page">
	<div class="table-wrapper">
		<button type="submit" class="search-button btn" (click)="openSearchModal()">Поиск</button>
		<table>
			<thead>
				<tr>
					<th *ngFor="let dataKey of dataKeys">{{dataKey}}</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngIf="dataType === 'card' else clientTable">
					<tr *ngFor="let dataRow of data" (click)="openModal(dataRow)">
						<td>{{dataRow.number}}</td>
						<td>{{dataRow.owner}}</td>
						<td>{{dataRow.shop}}</td>
					</tr>
				</ng-container>
				<ng-template #clientTable>
					<tr *ngFor="let dataRow of data" (click)="openModal(dataRow)">
						<td>{{dataRow.passport_number}}</td>
						<td>{{dataRow.name}} {{dataRow.surname}} {{dataRow.patronymic}}</td>
          </tr>
				</ng-template>
			</tbody>
		</table>
	</div>
</div>
