@use '../colors' as colors;

@mixin close-btn {
	margin-left: 10px;
	height: 100%;
}
@mixin delete-button {
	margin-left: 10px;
	height: 100%;
	background-color: colors.$light-red;
	color: #fff;
	border: 0;
}
@mixin edit-button {
	height: 100%;
  margin-left: 10px;
  background-color: colors.$light-blue;
	color: #fff;
}
