@import 'src/styles/colors';
.header {
	background: $very-dark-gray;
	padding: 15px;
}
.links-container {
	text-align: end;
}
.focus {
	font-weight: bold; //change to semi-bold (use google fonts)
}
.header-link {
	padding: 2px 10px;
	color: white;
}
.header-link:hover {
	color: white;
	font-weight: bold;

	text-decoration: none;
}
.header-link:active {
	color: white;
}
.header-link:visited {
	color: white;
}
