<div class="search-modal">
	<h4>Поиск</h4>
	<div class="info">*Вы можете искать по одному параметру или по нескольким сразу</div>
	<form class="search-form" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
		<input
			type="text"
			class="search-input"
			formControlName="name"
			height="100"
			[placeholder]="dataType === 'card'? 'Имя владельца': 'Введите имя'"
		/>
		<input
			type="text"
			formControlName="surname"
			class="search-input"
			[placeholder]="dataType === 'card'? 'Фамилия владельца': 'Фамилия'"
		/>
		<input
			type="text"
			formControlName="patronymic"
			class="search-input"
			[placeholder]="dataType === 'card'? 'Отчество владельца': 'Отчество '"
		/>

		<input
			*ngIf="dataType === 'card'"
			class="search-input"
			type="text"
			formControlName="cardNumber"
			placeholder="Номер карты"
		/>

		<input
			*ngIf="dataType === 'client'"
			class="search-input"
			type="text"
			formControlName="passportNumber"
			class="search-input"
			placeholder="Номер паспорта"
		/>

		<div class="store-select-wrapper">
			<app-store-select *ngIf="dataType === 'card'" (store)="selectStore($event)"></app-store-select>
			<div class="selected-store" *ngIf="dataType === 'card'">
				<div *ngIf="selectedStore else notSelected">
					<img [src]="selectedStore.image" alt="store-image" class="store-image" />
					<span class="selected-store-name">{{selectedStore.name | titlecase}}</span>
				</div>
				<ng-template #notSelected> Вы не выбрали магазин </ng-template>
			</div>
		</div>
		<div class="btn-wrapper">
			<button type="submit" class="find-btn btn">Найти</button>
		</div>
	</form>
</div>
