@import "src/styles/colors";
.main-page {
	text-align: center;
	background-color: $very-dark-gray;
}
.header {
	color: white;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	background-color: $very-dark-gray;
	border-bottom: 1px solid gray;
	font-family: 'IBM Plex Serif', serif;
	font-size: 2rem;
}
.header-hidden {
	color: white;
	width: 100%;
	padding: 10px 0;
	background-color:$very-dark-gray;
	border-bottom: 1px solid gray;
	font-family: 'IBM Plex Serif', serif;
	font-size: 2rem;
}
.main {
	color: white;
	padding-top: 10px;
}
.button {
	font-size: 1.4rem;
	padding: 5px 30px;
	border-radius: 100px;
	margin: 10px 10px 20px 10px;
}
